body{
    background-color: black;
}
@font-face {
    font-family: 'LogoTypeGothic';
    src: url(../font/LogoTypeGothic.otf) format("opentype");
}
.KinouWikiFontSetting
{
    text-align: center;
    position: absolute;
    font-family: LogoTypeGothic;
    font-size: 4rem;
    color: aqua;
}